{{template "base/head" .}}

<div class="home">
    <div class="container home-container">
        <div class="row">
            <div class="col-lg-3 home-sidebar">

                <div class="sidebar">
                    {{if .IsLogged}}
                    <div class="sidebar-profile">
                        <div class="sidebar-profile-inner">
                            <img class="rounded sidebar-profile-pic" src="https://www.gravatar.com/avatar/fbf8a00447f06d11836b1cd57ec59fae?s=140&d=retro">
                            <div class="sidebar-profile-content">
                                <div class="sidebar-profile-name">@{{.LoggedUserName}}</div>
                                <div class="sidebar-profile-username"></div>
                                <div class="sidebar-profile-link">
                                    <a href="/{{.LoggedUserName}}">View my profile »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            <div class="col-lg-6">

            </div>
            <div class="col-lg-3">
                Username:{{.LoggedUserName}}
            </div>
        </div>
    </div>
</div>


</div>

{{template "base/footer" .}}